<section>
  <app-Loading [Loading]="Loading"></app-Loading>
  <div class="row mt-4">
    <div class="col-6">
      <img src="assets/Imagens/Cadastro/Login.jpg" class="img-fluid">
    </div>
    <div class="col-6 centralizar">
      <h1>Redefinir senha</h1>
      <form [formGroup]="formulario">
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: joao@dominio.com" formControlName="Email">
          <small class="form-text text-danger" *ngIf="formulario.get('Email')?.touched && formulario.get('Email')?.errors">E-mail inválido.</small>
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="formulario.invalid" (click)="solicitarRedefinicaoSenha()">Redefinir</button>
        <app-MsgError [mensagem]="mensagemError"></app-MsgError>
        <app-MsgSuccess [mensagem]="mensagemSuccess"></app-MsgSuccess>
      </form>
    </div>
  </div>
</section>

