<section>
  <app-Loading [Loading]="Loading"></app-Loading>
  <div class="row mt-4">
    <div class="col-6">
      <img src="assets/Imagens/Cadastro/Login.jpg" class="img-fluid">
    </div>
    <div class="col-6 centralizar">
      <h1>Login</h1>
      <form #login="ngForm" (ngSubmit)="LogarUsuario()">
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <!-- usamos o name="email" e [(ngModel)]="data.email". o #email serve para validar com mensagem -->
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex: joao@dominio.com" required #email="ngModel" name="email" [(ngModel)]="data.email">
          <small class="form-text text-danger" *ngIf="email.touched && email.invalid">E-mail inválido.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="******" required name="password" [(ngModel)]="data.password">
        </div>
        <!-- precisa passar nada no recaptcha -->
        <div #divRecaptcha id="recaptcha"></div>
        <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
        <app-MsgError [mensagem]="mensagemError"></app-MsgError>
        <app-MsgSuccess [mensagem]="mensagemSuccess"></app-MsgSuccess>
        <p class="mt-2"><a routerLink="/novasenha">Esqueceu a senha senha?</a></p>
        <p>Ainda não tem cadastro? <a routerLink="/cadastro">Cadastre-se</a> </p>
      </form>
    </div>
  </div>
</section>
