<nav class="nav flex-column" id="navbar">

  <div class="text-center mt-2">
    <h2 class="navbar-brand">Finans</h2>
  </div>

  <a class="nav-link" [routerLink]="['cms']">
    <div class="icon">
      <mat-icon aria-hidden="false">home</mat-icon>
    </div>
    <div class="centralizar">Home</div>

  </a>

  <div class="nav-item drop-down">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <div class="icon">
        <mat-icon aria-hidden="false">maps_home_work</mat-icon>
      </div>
      <div class="centralizar">Meu Patrimônio</div>
    </a>
    <div class="dropdown-menu">
      <span>
        <span>
          <a class="dropdown-item" [routerLink]="['/patrimonio/imoveis']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >Imoveis</a>
        </span>
        <span>
          <a class="dropdown-item" [routerLink]="['/patrimonio/veiculos']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >Veiculos</a>
        </span>
      </span>
    </div>
  </div>

  <div class="nav-item drop-down">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <div class="icon">
        <mat-icon aria-hidden="false">receipt_long</mat-icon>
      </div>
      <div class="centralizar">Contas</div>
    </a>
    <div class="dropdown-menu">
      <span>
        <span>
          <a class="dropdown-item" [routerLink]="['/contas/pagar']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >A pagar</a>
        </span>
        <span>
          <a class="dropdown-item" [routerLink]="['/contas/receber']" routerLinkActive="text-white" [routerLinkActiveOptions]="{exact: true}" >A receber</a>
        </span>
      </span>
    </div>
  </div>

  <a class="nav-link" [routerLink]="['/perfil']">
    <div class="icon">
      <mat-icon aria-hidden="false">account_circle</mat-icon>
    </div>
    <div class="centralizar">Conta</div>

  </a>

  <a class="nav-link" [routerLink]="['/politica-privacidade']">
    <div class="icon">
      <mat-icon aria-hidden="false">policy</mat-icon>
    </div>
    <div class="centralizar">Política de Privacidade</div>
  </a>

  <a class="nav-link" [routerLink]="['/fale-conosco']">
    <div class="icon">
      <mat-icon aria-hidden="false">connect_without_contact</mat-icon>
    </div>
    <div class="centralizar">Fale Conosco</div>
  </a>

  <a class="nav-link" type="button" [routerLink]="['']" (click)="logout()">
    <div class="icon">
      <mat-icon aria-hidden="false">logout</mat-icon>
    </div>
    <div class="centralizar">Logout</div>
  </a>
</nav>
