<nav class="nav flex-column" id="navbar">

  <a class="nav-link" [routerLink]="['/home']">
    <div class="icon">
      <i class="fa fa-home"></i>
    </div>
    Home
  </a>

  <div class="nav-item drop-down">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <div class="icon">
        <i class="fa fa-newspaper"></i>
      </div>
      Meu Patrimonio
    </a>
    <div class="dropdown-menu">
      <span>
        <span>
          <a class="dropdown-item" [routerLink]="['']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}" >Imoveis</a>
        </span>
        <span>
          <a class="dropdown-item" [routerLink]="['']" routerLinkActive="text-black" [routerLinkActiveOptions]="{exact: true}" >Veiculos</a>
        </span>
      </span>
    </div>
  </div>


  <a class="nav-link">
    <div class="icon">
      <i class="fa fa-user"></i>
    </div>
    Perfil
  </a>

  <a class="nav-link" [routerLink]="['/politica-privacidade']">
    <div class="icon">
      <i class="fa fa-lock"></i>
    </div>
    Política de Privacidade
  </a>

  <a class="nav-link" [routerLink]="['/fale-conosco']">
    <div class="icon">
      <i class="fa fa-phone"></i>
    </div>
    Fale Conosco
  </a>
</nav>
