<app-Loading></app-Loading>
<section>
  <div class="jumbotron jumbotron-fluid mt-4">
    <div class="container text-center">
      <h1 class="display-4">Finans - Gerenciamento Financeiro</h1>
      <p class="lead">Controle a sua vida financeira com o nosso sistema gratuito.</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-6">
      <div>
        <img src="assets/Imagens/Home/19197293.jpg" alt="Imagem vantagens" class="img-fluid">
      </div>
    </div>
    <div class="col-6 centralizar">
      <div class="opcoes">
        <div class="centralizar m-2"><img src="assets/Imagens/Home/checked.png" class="img-check"></div>
        <div class="centralizar"><h5>Melhor gerenciamento do seu dinheiro</h5></div>
      </div>
      <div class="opcoes">
        <div class="centralizar m-2"><img src="assets/Imagens/Home/checked.png" class="img-check"></div>
        <div class="centralizar"><h5>Tenha controle dos seus ganhos e gastos</h5></div>
      </div>
      <div class="opcoes">
        <div class="centralizar m-2"><img src="assets/Imagens/Home/checked.png" class="img-check"></div>
        <div class="centralizar"><h5>Cadastre o seu patrimonio e faça o gerenciamento do mesmo</h5></div>
      </div>
      <div class="opcoes">
        <div class="centralizar m-2"><img src="assets/Imagens/Home/checked.png" class="img-check"></div>
        <div class="centralizar"><h5>Receba alertas de compromissos de contas</h5></div>
      </div>
      <div class="opcoes">
        <div class="centralizar m-2"><img src="assets/Imagens/Home/checked.png" class="img-check"></div>
        <div class="centralizar"><h5>Declare o seu importo de renda diretamente da plataforma</h5></div>
      </div>
      <div class="opcoes">
        <div class="centralizar m-2"><img src="assets/Imagens/Home/checked.png" class="img-check"></div>
        <div class="centralizar"><h5>Plataforma totalmente gratuita</h5></div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-6 centralizar">
      <h2 class="text-center">Cadastre-se agora e tenha e economize dinheiro</h2>
      <div class="text-center">
        <a routerLink="/cadastro" class="btn botao-cor">Ir para cadastro</a>
      </div>
    </div>
    <div class="col-6">
      <div>
        <img src="assets/Imagens/Home/20945912.jpg" alt="Imagem vantagens" class="img-fluid">
      </div>
    </div>
  </div>
</section>
