<section>
  <h2 class="text-center mt-2 mb-4 text-primary">Imóveis</h2>
</section>

<section class="mt-4 mb-4">
  <div class="text-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Cadastrar</button>
  </div>
</section>

<section>
  <table class="table mt-2">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="">
          #
        </th>
        <th scope="col" class="">
          Endereço
        </th>
        <th scope="col" class="text-center">
          Tipo
        </th>
        <th scope="col" class="">
          Cidade
        </th>
        <th scope="col" class="text-right">

        </th>
      </tr>
    </thead>
    <tbody class="table-dark">
      <tr>
        <td scope="col" class="">
          #1
        </td>
        <td scope="col" class="">
          R. Rio Grande do Norte, 1519
        </td>
        <td scope="col" class="text-center">
          Casa
        </td>
        <td scope="col" class="">
          Uberaba
        </td>
        <td scope="col" class="text-right">
          <button class="btn btn-warning mr-2">Editar</button>
          <button class="btn btn-danger ">Excluir</button>
        </td>
      </tr>
      <tr>
        <td scope="col" class="">
          #2
        </td>
        <td scope="col" class="">
          Av. Cunha Silva, 541
        </td>
        <td scope="col" class="text-center">
          Apartamento
        </td>
        <td scope="col" class="">
          São Paulo
        </td>
        <td scope="col" class="text-right">
          <button class="btn btn-warning mr-2">Editar</button>
          <button class="btn btn-danger ">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Cadastrar Imóvel</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="cadastro" >
          <div class="row">
            <div class="form-group col-6">
              <label for="desc">Descrição <strong class="text-danger"></strong></label>
              <input type="text" class="form-control mb-2" id="desc" placeholder="Ex: Casa Centro" formControlName="Descricao">
            </div>
            <div class="form-group col-6">
              <label for="iptu">Código IPTU <strong class="text-danger"></strong></label>
              <input type="text" class="form-control mb-2" id="iptu" placeholder="Ex: 12345678" formControlName="CodigoIptu">
            </div>
            <div class="form-group col-6">
              <label for="site">Site IPTU Prefeitura <strong class="text-danger"></strong></label>
              <input type="text" class="form-control mb-2" id="site" placeholder="Ex: wwww.prefeitura.com.br/IPTU" formControlName="SitePrefeitura">
            </div>
            <div class="form-group col-6">
              <label for="cep">Cep <strong class="text-danger">*</strong></label>
              <input type="text" class="form-control mb-2" id="cep" placeholder="Ex: 38050000" formControlName="Cep">
            </div>
            <div class="form-group col-6" >
              <label for="rua">Rua <strong class="text-danger">*</strong></label>
              <input type="text" class="form-control mb-2" id="rua" formControlName="Rua">
              <small class="text-danger">{{mensagem}}</small>
            </div>
            <div class="form-group col-6" >
              <label for="numeroCasa">Número</label>
              <input type="text" class="form-control mb-2" id="numeroCasa" formControlName="Numero">
            </div>
            <div class="form-group col-6" >
              <label for="bairro">Bairro<strong class="text-danger">*</strong></label>
              <input type="text" class="form-control mb-2" id="bairro" formControlName="Bairro">
              <small class="text-danger">{{mensagem}}</small>
            </div>
            <div class="form-group col-6">
              <label for="estado">Estado <strong class="text-danger">*</strong></label>
              <input type="text" class="form-control mb-2" id="estado" formControlName="Estado">
            </div>
            <div class="form-group col-6">
              <label for="municipio">Município <strong class="text-danger">*</strong></label>
              <input type="text" class="form-control mb-2" id="municipio" formControlName="Municipio">
            </div>
          </div>
          <button [disabled]="cadastro.invalid" (click)="cadastrarImovel()" class="btn btn-success w-100 mb-2">Cadastrar</button>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
