.table {
  cursor: pointer;
  table-layout:fixed;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.table thead th {
  border-bottom: 0px solid #dee2e6;
}
.table tbody td {
  vertical-align: middle;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tbody tr {
  border: 1px solid white;
}
tbody tr:hover {
  opacity: 0.7;
}
.endereco {
  margin-top: 5px;
  font-weight: 700;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.custom-file {
  margin-top: 32px;
}
mat-icon {
  cursor: pointer;
}
