.table {
  cursor: pointer;
  table-layout:fixed;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.table>:not(caption)>*>* {
  border-bottom-width: 0px;
}
.table td, .table th {
  border-top: 0px solid #dee2e6;
}
.table tbody td {
  vertical-align: middle;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
tbody tr {
  border: 1px solid white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.form-switch {
  padding-left: 3.5em;
  padding-top: 2.5em;
}
